---
http_interactions:
- request:
    method: get
    uri: https://ipinfo.io/1.0.16.0/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "1.0.16.0",
          "city": "",
          "region": "",
          "country": "JP",
          "loc": "35.6900,139.6900",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Wed, 21 Aug 2019 02:54:43 GMT
recorded_with: VCR 5.0.0
