---
http_interactions:
- request:
    method: get
    uri: http://ipinfo.io/1.0.16.0/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "1.0.16.0",
          "city": "",
          "region": "",
          "country": "JP",
          "loc": "35.6900,139.6900"
        }
  recorded_at: Mon, 18 Mar 2019 12:22:52 GMT
recorded_with: VCR 4.0.0
